label {
  color: var(--color-gray-0);
  font-family: var(--font-family);

  span {
    color: var(--color-negative);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }

  input {
    height: 48px;
    background-color: var(--color-gray-2);
    color: var(--color-gray-0);
    border-radius: 4px;
    padding: 0 20px;
    width: 100%;
    margin-top: 20px;

    input:focus {
      border: 1px solid var(--color-gray-0);
    }
  }
}
