.title1 {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
}

.title2 {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
}

.headline {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
}

.headlineBold {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 600;
}

.paragraph {
  color: var(--color-white);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
}
